RewriteEngine on
Options All -Indexes
RewriteRule ^admin$ index.php [L]
RewriteRule ^([A-Za-z0-9-]+)/?$ index.php?page=$1
RewriteRule ^([A-Za-z0-9-]+)&([A-Za-z0-9-]+)/?$ index.php?page=$1&id=$2  
